@model PetShelterMVC.ViewModels.PetDetailsVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetTypeId)
        </dt>
        <dd>
            @Html.ActionLink("Pet Details", "Details", "Pet", new { id = Model.PetTypeId })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BreedId)
        </dt>
        <dd>
            @Html.ActionLink("Pet Details", "Details", "Breed", new { id = Model.BreedId })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiverId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GiverId)
        </dd>

        @if (Model.IsAdopted)
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsAdopted)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsAdopted)
            </dd>
        }
        else
        {

            <dt>
                @Html.DisplayNameFor(model => model.IsEuthanized)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsEuthanized)
            </dd>
        }



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>