@model PetShelterMVC.ViewModels.PetDetailsVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetTypeId)
        </dt>
        <dd>
            @Html.ActionLink("Pet Details", "Details", "PetType", new { id = Model.PetTypeId })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BreedId)
        </dt>
        <dd>
            @Html.ActionLink("Breed Details", "Details", "Breed", new { id = Model.BreedId })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetVaccines)
        </dt>
        <dd>
            @if (Model.PetVaccines != null && Model.PetVaccines.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Име на ваксината</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vaccine in Model.PetVaccines)
                        {
                            <tr>
                              
                                <td>@Html.DisplayFor(modelItem => vaccine.Vaccine.Name)</td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Не е ваксиниран.</p>
            }
        </dd>


       

        @if (Model.IsAdopted)
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsAdopted)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsAdopted)
            </dd>
        }
        else if(Model.IsEuthanized)
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsEuthanized)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsEuthanized)
            </dd>
        }
        else
        {
            
        }



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>