@*
*@
@using PetShelterMVC.Controllers
@using PetShelter.Shared.Extensions
@model PetShelterMVC.ViewModels.ChangePasswordVM
@{
    ViewBag.Title = "ChangePassword";
}
<h2>Change Password</h2>
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="for-group">
            @Html.LabelFor(model=>model.Username, new { @class= "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model=>model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>
        <div class="for-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="for-group">
            @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ChangePassword" class="btn btn-default" />
            </div>
        </div>
    </div>
}
